*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* colori e misure */

.hed{
    width: 100%;
}

.head div.big{
    padding-top: 5vw ;
}

/* utility */

.text-center{
    text-align: center;
}

#no-margin{
    margin: 0;
    padding: 0;
}

#no-flex{
    display: block;
}

.gap{
    display: flex;
    flex-direction: column;
}

/* header */

header{
    display: flex;
    height: 70px;
    background-color: #0084FD;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: #fff;
}
header .mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: none;
}
/* /header */

/* main */

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.head{
    width: 80%; 
    padding: 6vw 0;
}

.hed{
    background-color: #B5DDFF;
    margin-top: 3vw;
    border-radius: 20px;
}
.end{
    display: flex;
    align-items: flex-end;
    height: 20%;
}

.cell{
    height: 70vw;
}


.hed .mid{
    margin: 0 auto;
}

.small .mid{
    text-align: center;
    padding: 3vw 0;
}

.head h2, .head i{
    color:#0084FD;
}

.head h2, .head p, .head i{
    margin: 2vw 0;
}

.head p{
    color: #5A6E7F;
}

.head a{
    background-color: #0084FD;
    text-decoration: none;
    padding: 10px 13vw;
    border-radius: 30px;
}

.head a, .head i.fa-apple{
    color: #fff;
}

.mid > i{
    font-size: 13vw;
}

div.small{ 
    display: flex;
    align-items: center;
}


/* 2 section */

.viola{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9792E4;
    width: 100%;
    margin-top: 5vw;
    padding: 10vw 0;
}

.mid{
    width: 80%;
}

.strategic{
    background-color: #9792E4;
    color: #fff;
    gap: 8vw 0;
}


.white{
    background-color: #fff;
}

.app{
    border-radius: 80px;
    margin-top: 10vw;
    padding: 8vw;
}

.app .gap{
    gap: 30px 0;
}

.circle i{
    color: black;
    background-color: #9792E4;
    padding: 20px 23px;
    border-radius: 50%;
}

/* 3 section */

.purple{
    background-color: #9792E4;
    padding: 6% 2%;
    color: #fff;
}

.redo{
    display: flex;
    width: 200px;
    height: 200px;
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 50%;
    background-position-x: center;

}

.para p, .fa-quote-left:before, .fa-quote-right:before{
    color: #fff;
}


/* background testimonials */

.nat{
    background-image: url(../img/testimonial1.jpg);
}

.celia{
    background-image: url(../img/testimonial2.jpg);
}

.bob{
    background-image: url(../img/testimonial3.jpg);
}

#pur{
    color: #9792E4;
}
/* 4 section */

div.metta{
    padding: 20px;
    gap: 15px 0;
}

div.metta h3, div.metta strong{
    color: #9792E4;
}

div.metta p{
    color: #5A6E7F;
}

div.metta strong{
    font-size: xx-large;
}

div.metta a{
    text-align: center;
    background-color: #9792E4;
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
}

.flex .purple{
    display: flex;
    justify-content: center;
}



/* 5 section */
.fin{
    background-image: url(../img/about.jpg);
    
}

.fin .fa-quote-left{
    color: #9792E4;
    font-size: x-large;
}

#mora{
    color:#9792E4;
}

.fa-linkedin:before{
    color: #fff;
}

.white .ok{
    margin-top: 4vw;
}

div.redo.fin{
    margin: 0;
    position: relative;
}

div.redo .fa-quote-left:before{
    color: #9792E4;
    position: absolute;
    left: 75%;
    top: 0;
    font-size: 60px;
}

.big .ok.gap{
    gap: 10px;
}

div.hed.white.small{
    margin-top: 15px;
}

a.mora{
    background-color: #9792E4;
    padding: 10px;
}
/* get started */

/* /main */

/* footer */
footer{
    display: flex;
    width: 100%;
    background-color: #333333;
    justify-content: center;
    align-items: center;
}

div.black{
    background-color: #333333;
    width: 80%;
}

/* responsive */

@media screen and (min-width: 768px) {
    .mid > i{
        font-size: 7vw;
    }

    .head div.big{
        padding-top: 0 ;
    }

    div.hed.white.small{
        margin: 20px;
    }

    div.flex{
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;   
    }

    div.big{
        width: calc(100% * 0.66 - (1vw / 5));
        position: relative;
    }
    div.small{
        width: calc(100% / 3 - (7vw / 5));
        height: auto;

    }

    div.metta{
        width: calc(100% / 2 - (4vw/2));
    }

    div.right{
        display: flex;
    }

    .cell{
        height: 30vw;
    }
}

@media screen and (min-width: 992px) {
    .head .hed{
        height: 42vw;
    }

    #no-height{
        height: 60%;
    }

    .dib{
        display: none;
    }   

    ul{
        display: flex;
        list-style-type: none;
        gap: 3vw;

    }

    .plos{
        display: flex;
        gap: 20px;
        align-items: center;
    }

    a.mora{
        padding: 10px 50px;
    }

    header a{
        text-decoration: none;
        color: #fff;
    }
    header .whi{
        background-color: #fff;
        color: black;
        padding: 10px 15px;
        border-radius: 20px;
    }

    .para{
        width: calc(80%);
    }

    #no-height .para{
        text-align: start;
        line-height: ,1;
    }

    div.big{
        display: flex;
        align-items: center;
    }
    .head a{
        padding: 10px 40px;
    }

    .head .mid{
        width: 90%;
    }

    .end, .text{
        width: calc(100% / 2 - (3vw / 2));
    }

    .end{
        position: relative;
        height: 42vw;
    }

    .text{
        display: flex;
        align-items: center;
    }
    
    .cell{
        height: 30vw;
    }


    .ada{
        display: flex;
        width: 70%;
        gap: 3vw;
    }

    .strategic{
        height: 40vw;
    }

    .app{
        margin-top: 15vw;
        padding: 2vw;
    }

    .app img{
        height: 20vw;
        width: 70vw;
    }

    div.metta{
        width: calc(100% / 3 - (4vw/2));
    }
}